---
title: আমরা
layout: page
permalink: /about/
---
<p>এখানে আমরা বলে বিশেষকিছু নেই। আপনি যদি বই পড়তে ভালোবাসেন তাহলে আপনিও আমাদের একজন।</p>

<p>বই, নিঃসন্দেহে সভ্যতার সবচেয়ে গুরুত্বপূর্ণ আবিষ্কারগুলোর একটি। প্রস্তরফলক, মাটির আয়ততল, ভূর্জপত্র, কাগজ থেকে বই এখন ইবুকে এসে পৌঁছেছে। সঙ্গে নিয়ে এসেছে হাজারবছরের জ্ঞান এবং শুদ্ধতর আবেগ।</p>

<p>আমরা একথা বলতেই পারি, সমস্ত পৃথিবী ভয়াবহতার দিকে এগিয়ে যাচ্ছে ক্রমশ। প্রতিটি যুদ্ধ ও অবিচার, প্রতিটি ক্ষুধার্ত মুখ, মানুষকে মানুষের প্রতি অবিশ্বাসী হতে শেখাচ্ছে। শুধু জ্ঞান বা শুধু আবেগ দিয়ে এর সাথে মোকাবেলা করা সম্ভব না। প্রয়োজন দুটোই। ফলে, বইয়ের কাছে আমাদের ফিরে আসতে হচ্ছে। পৃথিবী তার মত থাক, আমাদের ব্যক্তিগত সময় কাটানোর জন্যও একটা ভালো বই, কয়েকটা ভালো গান, এরচেয়ে ভালো ও নির্ঝঞ্চাট বিনোদন খুব কমই আছে।</p>

<p>ই-বইপত্র তাই বাঙলা ইবুক তৈরী করার জন্য নিরলসভাবে কাজ করে যাচ্ছে। বইগুলো এইমুহুর্তে বাঙলা বইয়ের প্রথাগত পিডিএফ ফরম্যাটে না করে ইপাব ফরম্যাটে করা হচ্ছে। ইপাব ফরম্যাটের সবচেয়ে বড় সুবিধা হলো এর ফন্ট বড়-ছোট করা যায় ইচ্ছেমত, এবং লেখা অটোমেটিক রিফ্লো করে। ফাইলসাইজও হয় কম, ফলে যেকোনো আকারের ডিভাইসে আরাম করে পড়া যায়। এখানে সমস্তরকমের বই, সবসময়ই বিনামূল্যে পাওয়া যাবে, এর ওয়েবসাইট, বুকস্টোর সমস্তকিছু সবসময়ই মুক্তসফটওয়্যার হিসেবে পাওয়া যাবে। এটা আমাদের সোশ্যাল কন্ট্রাক্ট বা সামাজিক দায়বদ্ধতা।</p>

<p>পাবলিক ডোমেইনের বইগুলো সবসময়ই বিনামূল্যে পাওয়া যাবে। কিন্তু, আমরা মনে করি লেখকদের পারিশ্রমিক দেওয়া আমাদের কর্তব্য। তাই আমরা নতুন লেখকদের লেখা বিশেষভাবে প্রকাশ করবো। এই পদ্ধতিতে, লেখকের বইটির একটি সম্পূর্ণ কপি বিনামূল্যে পাওয়া গেলেও কেউ সামান্য মূল্যপরিশোধসাপেক্ষে বইটির একটি বিশেষ কপি পেতে পারেন যেখানে আমাদের প্রচেষ্টার সাথে আপনার অংশীদারিত্বের চিহ্ন থাকবে।</p>

<p>শুভেচ্ছা নেবেন।</p>

<h3>কৃতজ্ঞতা</h3>
<p>এটা সম্পূর্ণ অলাভজনক সমব্যয়ী কার্যক্রম বলে স্বাভাবিকভাবেই গরীবি হালে চলে। তবুও আমরা বিজ্ঞাপন নিতে চাইনা। বিজ্ঞাপন একধরনের দ্বায়বদ্ধতা তৈরী করে যা স্পষ্ট অবস্থানের জন্য বাধা হয়ে দাঁড়াতে পারে। আমরা আন্তরিকভাবে কৃতজ্ঞ <a href="https://github.com" target="_blank">গিটহাবের</a> এর কাছে। এই ওয়েবসাইট, আমাদের সকল তথ্য গিটহাবে হোস্ট করা থাকে। আমরা কৃতজ্ঞ <a href="https://tagoreweb.in" target="_blank">The Complete Works of Rabindranath Tagore</a> এর কাছে, রবীন্দ্রসাহিত্যের বিশাল ভাণ্ডার ইউনিকোডে উন্মুক্ত করার জন্য। <a href="ebanglalibrary.com" target="_blank">বাংলা লাইব্রেরি । Bangla Library</a> এর কাছে, বিভিন্ন লেখকের অনেক লেখা সংগ্রহর জন্য। এবং <a href="https://bn.wikisource.org" target="_blank">উইকিসংকলন</a>সহ আরো অনেকের কাছে।</p>
<hr/>
{% include share-page.html %}
{% include disqus.html %}
